:root {
  --background-color: #fd6e0a;
  --section-bg: #fff8f3;
}
/* shared style */
body {
  font-family: "Gentium Book Plus", serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Peddana", serif;
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none;
}
.text-primary {
  color: #fd6e0a;
}
.btn-primary {
  border-radius: 5px;
  background-color: var(--background-color);
  color: white;
  border: none;
  font-size: 20px;
  font-weight: 700;
  font-style: normal;
  padding: 15px 35px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* nav related style */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 200px;
}
.nav-logo {
  font-size: 45px;
  color: #181818;
  font-weight: 800;
  text-decoration: none;
}
nav > ul {
  display: flex;
  align-items: center;
}
nav > ul li:not(:last-child) {
  margin-right: 50px;
}
nav li {
  list-style: none;
}
/* ----------------------------------- header related style ------------------------------------ */
header {
  background-color: var(--section-bg);
  padding: 10px 0 50px;
}
.banner {
  padding: 30px 30px 30px 150px;
  display: flex;
  align-items: center;
}
.profile-picture {
  width: 500px;
}
